

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
   color: #2d2d2d;
    line-height: 1.25rem;
    font-size: .875rem;
    font-weight: 400;
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}